/*Estil estructura del body*/

p { word-break: break-all }

#taulaEstructura{ 
	width: 100%;
	height: 98vh;
	padding: 0px;
} 

#taulaEstructura tr{
	padding: 0px;
	vertical-align: top;
}
#taulaEstructura td{
	margin-top: 0px;
}

#taulaEstructura td:first-child{
	padding-top: 2%;
	width:19%;
	text-align: center;
}

#taulaEstructura td:nth-child(2){
	width:81%;
	text-align: center;
	background-color: rgb(0, 26, 77, .4);
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
		height: 100%;
		width: 100%;
}

/*Estil part esquerra, botons de canvi de vista i creadors*/

.selectMenuButonUnclik, .selectMenuButonClik {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		padding: 10px 24px;
		position: relative;
		margin-bottom: 20px;
		z-index: 2;
}

.selectMenuButonUnclik {
    background-color: #009688;
}

.selectMenuButonClik {
    background-color: #000; 
}

.selectMenuButonUnclik:hover{
    background-color: #990033; 
    color: white;
}

.selectMenuButons{
	border: none;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	margin: 4px 2px;
	cursor: pointer;
	padding: 10px;
	position: relative;
	margin-bottom: 20px;
	z-index: 2;
}

.afegidor{
	position: relative;
	text-align:left;
	z-index: 2;
}

.afegidor .textIn, .afegidor label {
    display:block;
		width:80%;
}

/*Estil part dreta, vista artistes i LP's*/

#llistadorCercador{
	position: relative;
	margin-left: 20px;
	z-index: 2;
	float: left;
	height: 80%;
	width: 25%;
}

#llistador{
	overflow: hidden;
	width: 100%;
	height: 40vh;
}

#llistador ul{
	margin-top: 0px;
}

#llistador li{
	text-align: left;
	margin-bottom: 5px;
	color:blue;
	text-decoration: underline;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
}

#llistador li:hover{
	text-align: left;
	cursor: pointer;
}

.botoCercador {
		background-color: rgb(0, 0, 77, 0.5); 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
		padding: 10px 24px;
		position: relative;
		margin-bottom: 20px;
		z-index: 2;
}

.botoCercador:hover{
    background-color: #990033; 
    color: white;
}

#mostrador{
	position: relative;
	margin-left: 20px;
	z-index: 2;
	float: right;
	height: 80%;
	width: 70%;
	text-align: left;
	font-size: 16px;
}

#mostrador textarea{
	width:90%;
	display:block;
	margin-bottom: 10px;
	margin-top: 0px;
}

#mostrador p{
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: normal;
}

.lpList {
	list-style: none;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

.lpList li:hover{
	color: #9400D3;
	cursor:pointer;
}